*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.header{
    display: flex;
    padding: 2rem 5rem;
    justify-content: space-between;
    color: #ffffff;
    background-color: #3498db;
}

.title{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.title-img{
    width: 50px;
}

.heading {
    font-size: 2.5rem;
}

.nav-bar{
    font-size: 1.25rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.home{
    cursor: pointer;
}

.wishlist{
    cursor: pointer;
}

.cards{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.card{
    display: flex;
    flex-direction: column;
    width: 410px;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.card:hover{
    transform: scale(0.98);
}

.image{
    width: 390px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0 auto;
    margin-top: 0.725rem;
}

.card-desc{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.75rem;
}

.price{
    color: rgb(7, 194, 7);
}

.read-more{
    color: rgb(0, 133, 185);
    cursor: pointer;
}

.btn-container{
    margin-bottom: 1rem;
    padding: 0 0.75rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.btn {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  width: 80%;
}

.btn:hover{
    color: white;
    background-color: red;
    
}

  
.fa-heart{
    color: transparent;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: red;
   font-size:2em;
    cursor: pointer;
}

.active{
    color: red;
}

.wish-icon{
    font-size: 1.25rem;
    color: red;
}

.empty-page{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.refresh-btn{
    background-color: aliceblue;
    padding: 0.75rem 3rem;
    font-weight: 400;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 0.225rem;
    transition: all 0.3s;
}

.refresh-btn:hover{
    background-color: rgb(54, 128, 194);
    color: white;
}

.empty-wish{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer{
    margin-top: 3rem;
    background-color: black;
    padding: 1rem;
    color: white;
    text-align: center;
}